<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Personas</h2>
            <form>
                <!--<div class="form-group">
                    <label>Identificacion</label>
                    <input type="text" name="numeroidentificadorcontrato"
                        [(ngModel)]="Contratosuministros.numeroidentificadorcontrato" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Identificacion</label>
                    <input type="text" name="tipodesuministro"[(ngModel)]="Contratosuministros.tipodesuministro"
                        class="form-control" />
                </div>esto nunca me dejo--> 

                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">Register</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>